@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: "Montserrat", serif;
}

.button {
  min-width: 200px;
  text-align: center;
}

a {
  font-family: "Montserrat", serif;
}

p {
  font-size: 18px;
  font-family: "EB Garamond", serif;
}

li {
  font-size: 18px;
  font-family: "EB Garamond", serif;
}
